{% extends "base.html" %} {% block content %}


  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" value="{{ request.args.get('next', '') }}">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" value="{{ request.args.get('next', '')}">
      <input type="submit" value="Login" id="login-form-submit">
    </form>
  
  </main>
<{% endblock %}>

